# Ignore the virtual environment folder
venv/

# Ignore temporary Python files
__pycache__/
*.pyc
*.pyo

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore environment and dependency files
.DS_Store
.env

# Ignore the data folder
archived/data/
Final/MDS-UPDRS_Part_III_21Mar2025.csv